@inherits LayoutComponentBase

<PageTitle>WiredBrainCoffeeBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar bg-danger">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="top-row px-4">
            <a href="https://app.pluralsight.com/library/courses/asp-dot-net-core-6-blazor-ef-core-server-application-data-driven/table-of-contents">ThePluralsightCourse</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
