@page "/labApparatus/list"

<PageTitle>Employees</PageTitle>

<h1>Welcome to the Harmonic Motion Lab Photos</h1>

<div>
    <a href="\HarmonicMotionLabPhotos\MassOnASpring.jpg" class="logo"> </a>
    <h5>Simple Pendulum</h5>
</div>

<div>
    <a href="HarmonicMotionLabPhotos\SimplePendulum.jpg"> </a>
    <h5>Simple Pendulum</h5>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
